@font-face {
    font-family: "ComicMono";
    src: url(/assets/fonts/ComicMono.ttf) format("truetype");
}

@font-face {
    font-family: "ComicMono-Bold";
    src: url(/assets/fonts/ComicMono-Bold.ttf) format("truetype");
}

html,
body {
    width: 100%;
}

.articles_list {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.articles_list a {
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    font-size: 18px;
    font-family: "ComicMono-Bold";
    font-weight: bold;
}

.article_wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.article_body {
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    font-family: "ComicMono";
    padding-bottom: 150px;
}

.article_body h1 {
    font-family: "ComicMono-Bold";
    font-weight: bold;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.article_body p {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    text-align: left;
    font-size: 18px;
}

.banner_img {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner_img img {
    max-width: 100%;
}