/* @font-face {
    font-family: "ComicMono";
    src: url(/assets/fonts/ComicMono.ttf) format("truetype");
}

@font-face {
    font-family: "ComicMono-Bold";
    src: url(/assets/fonts/ComicMono-Bold.ttf) format("truetype");
} */

html,
body {
    width: 100%;
}

.articles_list {
    display: inline-block;
    text-align: center;
    padding-top: 120px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
}

.articles_list a {
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    font-size: 18px;
    font-family: Open Sans, Roboto, sans-serif;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-word;
    width: 100%;
}

.article_wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #fcfcfc;
    color: #1a1a1a;
}

.article_body {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 720px;
    font-family: Open Sans, Roboto, sans-serif;
    padding-bottom: 120px;
    min-height: 100vh;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 120px;
    margin: 0px auto;
    box-sizing: border-box;
}

.article_date {
    display: inline-block;
    width: 100%;
    font-family: Open Sans, Roboto, sans-serif;
    margin-bottom: 24px;
    text-align: center;
    font-weight: bold;
}

.retour_link {
    position: absolute;
    top: 120px;
    left: -90px;
}

@media (max-width: 900px) {
    .retour_link {
        left: 20px;
        top: 70px;
    }
}

.retour_link a {
    display: inline-block;
    text-decoration: none;
    font-family: Open Sans, Roboto, sans-serif;

    color: #1a1a1a;
}

.article_body h1 {
    font-family: Open Sans, Roboto, sans-serif;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 32px;
    line-height: 1.2;
    text-align: left;
    word-wrap: break-word;
}

.article_body p {
    text-align: left;
    font-size: 1.125em;
    line-height: 1.5;
    word-wrap: break-word;
    margin: 0 0 1.5em;
    font-family: Open Sans, Roboto, sans-serif;
}

.banner_img {
    display: inline-block;
    width: 100%;
    margin-bottom: 24px;
}

.banner_img img {
    max-width: 100%;
}

.center_img {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.5em;
    text-align: center;
    height: 250px;
}

.center_img img {
    display: inline-block;
    max-height: 100%;
}

pre {
    overflow-x: auto;
    text-align: left;
    margin-bottom: 1.5em;
}

.collapsiblepre {
    overflow: visible;
}

code {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

ul {
    list-style-type: circle;
}

li {
    text-align: left;
    margin-bottom: 1em;
}

.wrap-collabsible input[type='checkbox'] {
    display: none;
}

.wrap-collabsible {
    margin: 1.2rem 0;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    background: white;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
    overflow: auto;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 650px;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: white;
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}